{% load static %}

<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Animated Search box [Pure CSS]</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Antic'>

  <link rel="stylesheet" type="text/css" href="{% static 'search_ui/style.css'%}"/>


</head>

<body>

  <div align="center">
  <br>
  <br>
  <br>
  <div class="text">What would you like to search today?</div>
  <br>
  <br>
  <br>
  <input class="button" placeholder="Search..." />
  <script src='https://use.edgefonts.net/amaranth.js'></script>



</body>

</html>
